html {
    font-family: 'Noto Sans', sans-serif;
}

/* Blinking Cursor */
.cursor {
    color: #801d1d;
    font-weight: bold;
    font-size: 1.2em;
    animation: blink 0.8s infinite;
    display: inline-block;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.uk-button-primary {
    background-color: #131313;
    color: #666;
    border: 1px solid #666;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.uk-button-primary:hover {
    background-color: #292929;
}


.featured-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}


.uk-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #111; 
    border: 1px solid #333; 
}


.uk-width-expand {
    padding-left: 20px;
}


body, html {
    color: #ffffff !important;
    background-color: #121212 !important; /* Dark background for contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
    font-weight: bold !important;
}

p {
    color: #e0e0e0 !important;
    line-height: 1.6 !important; /* Adds better spacing */
}

a {
    color: #ffffff !important;
    text-decoration: none !important;
}

a:hover {
    color: #e0e0e0 !important;
    text-decoration: none !important;
}

.uk-navbar-container {
    background-color: #121212 !important;
    border-bottom: 1px solid #ffffff1a;
}

.uk-offcanvas-bar {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.uk-offcanvas-bar a {
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 18px !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

/* Ensure content takes up full width on mobile */
@media (max-width: 768px) {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .uk-container {
        max-width: 100% !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .uk-margin-small-left, .uk-margin-small-right {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}