html {
    font-family: 'Noto Sans', sans-serif;
}

/* Blinking Cursor */
.cursor {
    color: #801d1d;
    font-weight: bold;
    font-size: 1.2em;
    animation: blink 0.8s infinite;
    display: inline-block;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}